/* 通用样式 */
*,
::before,
::after{
	font-size: 14px;
	margin: 0;
	padding: 0;

	/* 点击高亮效果 *//* 手指点击 清除默认的 高亮效果 透明 */
	-webkit-tap-highlight-color: transparent ;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	/* 统一设置文字  sans-serif 移动端 的默认字体 */
	font-family: '微软雅黑',sans-serif;
}

/* input标签 去掉默认样式 */
input{
	border: none;
	-webkit-appearance: none;
}
a{
	text-decoration: none;
}
ol,ul{
	list-style: none;
}
.clearfix::before,
.clearfix::after{
	content: '';
	display: block;
	line-height: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}
